/* Customization */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    font-family: 'Poppins', sans-serif;
    background-color: #1d2a54;
}


/* Hero Section */
.hero {
    position: relative;
    height: 80vh; 
    overflow: hidden; 
    background: linear-gradient(#1c3144, #6c757d);
}

.hero img {
    height: 100%;
    width: 100%; 
    object-fit: cover;
    z-index: -1;
    opacity: 0.6;
}

.hero button {
    position: absolute;
    top: 50%; 
    left: 70%; 
    transform: translate(-50%, -50%); 
    z-index: 1; 
    padding: 12px 30px; 
    background-color: #111111; 
    color: white;
    border: none;
    border: 1px solid rgb(6, 44, 81);
    border-radius: 5px;
    cursor: pointer;
    /* transition: all 0.1s ease-out; */
    box-shadow: 8px 5px 5px rgba(0, 0, 0, 0.5);
}

.hero button:hover {
    background-color: #646668;
    color: white;
    /* transform: scale(1.1) */
}


/* About Section */
.about {
    display: flex;
    flex-wrap: wrap; 
    justify-content:left; 
    align-items: center;
    height: 60vh;
    /* background-color: #6c757d; */
}

.about button {
    width: 200px;
    height: 200px; 
    margin: 20px; 
    border-radius: 50%; 
    background-color: #d4dae1; 
    color: black;
    font-size: 16px;
    cursor: pointer;
    font-size: px;
    border: 1px solid rgb(6, 44, 81);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    
}
.about-img{
    display: flex;
    flex-direction: column;
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-left: 60px;
    margin-bottom: 10px;
}

.about button:hover {
    background-color: rgb(53, 64, 133); 
    color: white;
}


/* Services Section */
.services {
    /* background-color: #eaeaea;  */
    padding: 40px 0; 
    /* background-color: white; */
}

.services-card {
    border: none; 
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
    max-width: 800px; 
    margin: auto; 
   
    
}

.services-card-body {
    padding: 25px; 
    background-color: #202121;
    
}
/* .services-card-title{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #111111;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    text-align: center;
    
} */

.services-card-text {
    font-size: 1rem; 
    line-height: 1.6;
    margin-bottom: 15px; 
    color: white; 
    letter-spacing: 1.5px;
    
}

.service-info {
    text-align: center; 
}


.d-none {
    display: none; 
}

/* Media query for responsiveness */
@media (max-width: 768px) {
    .service-card {
        max-width: 100%; 
    }

    .service-card-body {
        padding: 15px; 
    }
}



/* Feedback Section */
.feedback {
    /* background-color: #1c2f41;  */
    padding: 40px 0; 
}

.feedback-card {
    border: none; 
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
    max-width: 800px; 
    height: 400px;
    margin: auto; 
    background-color: white;
    padding: 30px;
    justify-content: center;
    text-align: center;
    align-items: center;
  
}

/* .feedback-card-body {
   /* font-size: 15px; 
} */
 .feedback-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin: 20px;

 }

.feedback-card-title {
    font-size: 20px;
    font-weight: 700;
}

.feedback-card-text {
    font-size: 15px; 
    line-height: 1.6;
        color: #333; 
  
}

/* staff */

.staff {
    /* background-color: #7c5555;  */
    padding: 40px 0; 
}
.staff-card {
    border: none; 
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
    max-width: 800px; 
    margin: auto; 
    background-color: white;
    padding: 30px;
    justify-content: center;
    text-align: center;
    align-items: center;
  
}
.staff-img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin: 20px;
}



